body {
  background-color: #EEE;
}

.mainframe {
  background-color: #FFF;
  width: fit-content;
  margin: 0px auto 0px;
  padding: 20px;
  box-shadow: 5px 0px 5px #333, -5px 0px 5px #333;
  border-radius: 15px;
}

.button {
  border: 0px;
  background-color: #008;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #00A;
}

.button:active {
  transform: translateY(2px);
}

input.size {
  width: 50px;
}

.canvas {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  padding-bottom: 1px;
}

.row {
  height: 10px;
}

.pixel {
  width:10px;
  height:10px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  display: inline-block;
  margin: 0px;
}

#preview {
  border: solid 1px black;
}

.code {
  white-space: pre-wrap;
  font-family: monospace;
}
